// Run SASS: sass --watch ./src/App.scss ./src/App.css

.hero {
  background: url(./assets/images/hero.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}